11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [1]:
from zoo import hours
hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [3]:
import sqlite3
conn = sqlite3.connect("books.db")
c=conn.cursor()
# c.execute('''CREATE TABLE books (title text, author text, year integer)''')
c.execute('''INSERT INTO books (title,author,year) VALUES("book name","some author",1990)''')
conn.commit()
conn.close()

OperationalError: table books already exists

In [ ]:

import sqlalchemy as sa
from sqlalchemy import text

engine = sa.create_engine('sqlite:///books.db')
conn = engine.connect()
result = conn.execute(text('''SELECT * 
FROM books
ORDER BY title'''))

for row in result:
    print(row)

('book name', 'some author', 1990)